﻿
.table_text {
    fill: black;
}
.index_cell{
    --vertical-anchor : middle;
    --horizontal-anchor : center;
}
.index_cell_text{
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
}
.text_cell{
    --vertical-anchor : middle;
    --horizontal-anchor : center;
}
.text_cell_text{
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
}
.no-border{
    visibility: hidden;
}
.ref-border{
    visibility: visible;
    stroke: blue;
    stroke-width: 2pt;
}
.ref-background{
    fill: red;
}
.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}