﻿.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}

/* table */
.table-text {
    fill: black;
    font-size: 18px;
    font-family : 'Times New Roman'; 
}
.background {
    fill: white;
}
.cell{
    --default-text-class : table-text;
    --default-background-class : background;
    --horizontal-anchor: left;
    --vertical-anchor: middle;
}
.slp-table{
    --default-cell-class : cell;
}



/* graph */
.slp-graph{
    --default-vertex-class : slp-node; 
    --default-edge-class : slp-edge; 
    --vertex-x-interval : 50;
    --vertex-y-interval : 50;
}
.textarea-background {
    fill: white;
}
.surface {
    stroke: green;
    fill: white;
    --default-radius : 30;        
    --default-width : 30;    
    --default-height : 30;    

}
.slp-node{
    --default-surface-class : surface;
    --default-text-class : table-text;
    --default-surface-type : rectangle;
    /*
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    */
}
.slp-edge{
    --default-line-class : slp-line;
    --default-text-class : table-text;
    --default-begin-connector-position : bottom;
    --default-end-connector-position : top;    
}

.slp-line{
    stroke: black;
    stroke-width: 1pt;
}