﻿
.table-text {
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
}

.title-table-text {
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.background {
    fill: white;
}
.textarea-cell {
    --default-background-class : background;    
    --horizontal-anchor: left;
    --vertical-anchor: middle;
    --padding-top: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;

}
.sa-table{
    --default-cell-class : cell;

}
.cell{
    --default-text-class : table-text;
    --default-background-class : background;    
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    --padding-top: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
}



.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}