﻿
.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}

g#text-table g[data-type="cell"], g#bwt-table g[data-type="cell"]{
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    --padding-top: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
}


g#text-table g[data-type="cell"] > text, g#bwt-table g[data-type="cell"] > text {
    fill: black;
    font-size: 24px;
    font-family: 'MS Gothic';
}
g#text-table g[data-type="cell"] > rect, g#bwt-table g[data-type="cell"] > rect{
    fill: white;
}

g#text-table g[data-cellX="0"] > text, g#bwt-table g[data-cellY="0"] > text {
    fill: black;
    font-size: 24px;
    font-family: 'MS Gothic';
    font-weight: bold;
}
g#text-table g[data-type="cell"] > text[data-occ="0"], g#bwt-table tspan[data-occ="0"] {
    fill : black;
}
g#text-table g[data-type="cell"] > text[data-occ="1"], g#bwt-table tspan[data-occ="1"] {
    fill : red;
}
g#text-table g[data-type="cell"] > text[data-occ="2"], g#bwt-table tspan[data-occ="2"] {
    fill : orange;
}
g#text-table g[data-type="cell"] > text[data-occ="3"], g#bwt-table tspan[data-occ="3"] {
    fill : blue;
}
g#text-table g[data-type="cell"] > text[data-occ="4"], g#bwt-table tspan[data-occ="4"] {
    fill : green;
}
g#text-table g[data-type="cell"] > text[data-occ="5"], g#bwt-table tspan[data-occ="5"] {
    fill : purple;
}
