﻿/* graph */
.graph{
    --default-vertex-class : vertex; 
    --default-edge-class : edge; 
    --vertex-x-interval : 50;
    --vertex-y-interval : 50;

}
.vertex{
    --default-surface-class : surface;
    --default-text-class : text;
    --default-surface-type : g-circle;

}
.surface {
    stroke: black;
    fill: white;
    --default-width : 15;    
    --default-height : 15;    

}

.text {
    fill: black;
    font-size: 18px;
}

.edge{
    --default-line-class : line;
    --default-text-class : text;
    --default-begin-connector-position : bottom;
    --default-end-connector-position : top;    
}
.line{
    stroke: black;
    stroke-width: 1pt;
}
.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}
.implicit-vertex{
    --default-surface-class : implicit-surface;
    --default-text-class : text;
    --default-surface-type : circle;
}
.implicit-surface {
    stroke: black;
    fill: white;
    --default-width : 0;    
    --default-height : 0;    

}