﻿body {
    font-family: 'Segoe UI', sans-serif;
}

.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}
.table{
    --default-cell-class : cell;
    --default-border-class : border;
}
.cell{
    --default-background-class : background;
    --default-text-class : text;    
    --horizontal-anchor: center;
    --vertical-anchor: middle;
}

.text {
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
}

.background {
    fill: white;
}
.border {
    stroke:black;
    stroke-width: 1pt;
}
