﻿.text {
    fill: black;
    font-size: 18px;
    font-family : 'Times New Roman'; 
}
.surface {
    stroke: black;
    fill: white;
    --default-width : 30;
    --default-height : 30;

}
.node{
    --default-surface-class : surface;
    --default-text-class : table-text;
    --default-surface-type : circle;
    /*
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    */
    

}
.surface:hover {
    fill: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
}
.surface:active {
    top: 3px;
    box-shadow: none;
}
.line{
    stroke: black;
    stroke-width: 1pt;
}
.edge{
    --default-line-class : line;
    --default-text-class : text;
    --default-begin-connector-position : bottom;
    --default-end-connector-position : top;    
}
.graph{
    --default-vertex-class : node;
    --default-edge-class : edge;
    --vertex-x-interval : 50;
    --vertex-y-interval : 50;    
}
.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}