﻿
.svgbox{
    border:#000000 solid 1px;
    background:#e9e9e9;
    padding: 30px 30px 30px 30px;
}

g#text-table g[data-type="cell"], g#sa-table g[data-type="cell"]{
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    --padding-top: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
}

g#sa-table g[data-type="cell"][data-cellX="1"]{
    --horizontal-anchor: left;
}

g#text-table g[data-type="cell"] > text, g#sa-table g[data-type="cell"] > text {
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
}
g#text-table g[data-type="cell"] > rect, g#sa-table g[data-type="cell"] > rect{
    fill: white;
}

g#text-table g[data-cellX="0"] > text, g#sa-table g[data-cellY="0"] > text {
    fill: black;
    font-size: 24px;
    font-family: 'Times New Roman';
    font-weight: bold;
}
